<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://www.baidu.com"
                   matchAll="true"/>
        <serverUrl url="http://218.244.250.80:8080"
                   matchAll="true"/>
        <serverUrl url="http://sampleserver1.arcgisonline.com"
                   matchAll="false"/>
        <serverUrl url="http://localhost:6080"
                   matchAll="false"/>

    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
